In [2]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("PySpark Intro") \
    .getOrCreate()

## Map and Reduce

We've talked about these concepts in the intro_python module, but we didn't talk explicity about reductions.

MAP

```python
def squarer(a):
    return a**2
```

REDUCE

The prototypical reduce function is the sum function. A reducer takes two values: the first value is called an "accumulator" and the second value is the next value in the list. The goal of the reduce function is to transform the iterable into a new object that is "accumulated" as one iterates through the items in the iterable:

```python
def summer(a,b):
    return a + b
```

In [4]:
import pandas as pd

orders = pd.read_csv('data/orders.csv').to_dict(orient='records')

In [9]:
#exploration cell

print(len(orders))
print(type(orders[0]))
print(len(orders[0]))
print(orders[0])

2996
<class 'dict'>
19
{'customer_number': 363, 'order_number': 10100, 'product_code': 'S18_1749', 'quantity_ordered': 30, 'price_each': 136.0, 'order_line_number': 3, 'order_date': '2003-01-06', 'required_date': '2003-01-13', 'shipped_date': '2003-01-10', 'status': 'Shipped', 'comments': nan, 'customer_name': 'Online Diecast Creations Co.', 'contact_last_name': 'Young', 'contact_first_name': 'Dorothy', 'city': 'Nashua', 'state': 'NH', 'country': 'USA', 'sales_rep_employee_number': 1216, 'credit_limit': 114200.0}

In [10]:
# We will start with the basic reduce function in Python
# NOTE: we have previously been using for comprehensions in python for mapping, 
# but there is also a built-in "map" function
from functools import reduce

In [12]:
def make_total_sale(order):
    return order['quantity_ordered'] * order['price_each']

# What does this return???
map(make_total_sale, orders)

<map object at 0x7fc8167b8860>

In [15]:
def summer(a,b):
    return a + b

print(orders[0])

# Get the total sales!
#map(make_total_sale,orders)
reduce(summer, map(make_total_sale, orders))

{'customer_number': 363, 'order_number': 10100, 'product_code': 'S18_1749', 'quantity_ordered': 30, 'price_each': 136.0, 'order_line_number': 3, 'order_date': '2003-01-06', 'required_date': '2003-01-13', 'shipped_date': '2003-01-10', 'status': 'Shipped', 'comments': nan, 'customer_name': 'Online Diecast Creations Co.', 'contact_last_name': 'Young', 'contact_first_name': 'Dorothy', 'city': 'Nashua', 'state': 'NH', 'country': 'USA', 'sales_rep_employee_number': 1216, 'credit_limit': 114200.0}

9604190.609999985

In [16]:
# Note, reduce takes an optional "initial value":

# See what happens when you change it from 0!
reduce(summer, map(make_total_sale, orders), 0.0)

9604190.609999985

In [26]:
# Challenge: make a "map" and a "reduce" that gets the max number of items ordered (in one line item)!
# Your code here

def get_qty(order):
    return order['quantity_ordered']

#reduce(max, map(get_qty, orders))

#len(orders)
print(orders[0]['order_number'])
print(orders[1]['order_number'])

10100
10101

In [22]:
#checking
init = 0
for i in range(0,len(orders)):
    if orders[i]['quantity_ordered'] > init:
        init = orders[i]['quantity_ordered']
        
print(init)

97

In [27]:
# Sometimes our data comes in JSON and it might be nested. Take a look at this format: 
import json

with open('data/orders.json') as f:
    orders = [json.loads(l) for l in f]

orders[0]

{'line_items': [{'product_code': 'S18_1749',
   'quantity_ordered': 30,
   'price_each': 136.0,
   'order_line_number': 3},
  {'product_code': 'S18_2248',
   'quantity_ordered': 50,
   'price_each': 55.09,
   'order_line_number': 2},
  {'product_code': 'S18_4409',
   'quantity_ordered': 22,
   'price_each': 75.46,
   'order_line_number': 4},
  {'product_code': 'S24_3969',
   'quantity_ordered': 49,
   'price_each': 35.29,
   'order_line_number': 1}],
 'order_number': 10100,
 'order_date': '2003-01-06',
 'required_date': '2003-01-13',
 'shipped_date': '2003-01-10',
 'status': 'Shipped',
 'comments': None,
 'sales_rep_employee_number': 1216,
 'customer': {'customer_number': 363,
  'customer_name': 'Online Diecast Creations Co.',
  'contact_last_name': 'Young',
  'contact_first_name': 'Dorothy',
  'country': 'USA',
  'city': 'Nashua',
  'state': 'NH',
  'credit_limit': 114200.0}}

In [42]:
# Challenge: Find the sum of the total number of sales with this new format.
# Everything should be accomplished in a map and then a reduce:

# Your code here
def foo(o):
    return o['line_items']

from operator import add

reduce(add, map(make_total_sale, (reduce(add, map(foo,orders)))))
#reduce(add,map(foo,orders))
#foo(orders[0])

9604190.609999985

In [70]:
# Spark lets us read JSON files and create dataframes with nested items!

#orders = spark.read.json('data/orders.json')

orders.printSchema()
#orders.count()
#orders.columns

root
 |-- comments: string (nullable = true)
 |-- customer: struct (nullable = true)
 |    |-- city: string (nullable = true)
 |    |-- contact_first_name: string (nullable = true)
 |    |-- contact_last_name: string (nullable = true)
 |    |-- country: string (nullable = true)
 |    |-- credit_limit: double (nullable = true)
 |    |-- customer_name: string (nullable = true)
 |    |-- customer_number: long (nullable = true)
 |    |-- state: string (nullable = true)
 |-- line_items: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- order_line_number: long (nullable = true)
 |    |    |-- price_each: double (nullable = true)
 |    |    |-- product_code: string (nullable = true)
 |    |    |-- quantity_ordered: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- order_number: long (nullable = true)
 |-- required_date: string (nullable = true)
 |-- sales_rep_employee_number: long (nullable = true)
 |-- shipped_date: string (nullable = true)
 |-- status: string (nullable = true)

In [54]:
# All "DataFrames" in Spark are backed by an RDD. 
# We can access the RDD to perform simple operations, just like in python,
# on the underlying data:

# Spark performs all operations lazily. "collect" tells it to gather all the items
# in a list and send it back to the Driver node. 
# If you try and collect too much data, your memory will blow up!

orders.rdd.filter(lambda r: r.customer.country == 'Belgium').collect()

[Row(comments=None, customer=Row(city='Charleroi', contact_first_name='Pascale ', contact_last_name='Cartrain', country='Belgium', credit_limit=23500.0, customer_name='Royale Belge', customer_number=381, state=None), line_items=[Row(order_line_number=1, price_each=60.28, product_code='S32_3207', quantity_ordered=27)], order_date='2003-04-11', order_number=10116, required_date='2003-04-19', sales_rep_employee_number=1401, shipped_date='2003-04-13', status='Shipped'),
 Row(comments=None, customer=Row(city='Charleroi', contact_first_name='Pascale ', contact_last_name='Cartrain', country='Belgium', credit_limit=23500.0, customer_name='Royale Belge', customer_number=381, state=None), line_items=[Row(order_line_number=1, price_each=56.41, product_code='S32_4289', quantity_ordered=20)], order_date='2003-08-13', order_number=10144, required_date='2003-08-21', sales_rep_employee_number=1401, shipped_date='2003-08-14', status='Shipped'),
 Row(comments=None, customer=Row(city='Bruxelles', contact_first_name='Catherine ', contact_last_name='Dewey', country='Belgium', credit_limit=79900.0, customer_name='Petit Auto', customer_number=314, state=None), line_items=[Row(order_line_number=3, price_each=133.86, product_code='S18_3140', quantity_ordered=33), Row(order_line_number=5, price_each=89.75, product_code='S18_3259', quantity_ordered=23), Row(order_line_number=2, price_each=84.26, product_code='S18_4522', quantity_ordered=39), Row(order_line_number=1, price_each=113.06, product_code='S24_2011', quantity_ordered=49), Row(order_line_number=4, price_each=69.29, product_code='S700_1938', quantity_ordered=23)], order_date='2004-02-18', order_number=10221, required_date='2004-02-26', sales_rep_employee_number=1401, shipped_date='2004-02-19', status='Shipped'),
 Row(comments=None, customer=Row(city='Bruxelles', contact_first_name='Catherine ', contact_last_name='Dewey', country='Belgium', credit_limit=79900.0, customer_name='Petit Auto', customer_number=314, state=None), line_items=[Row(order_line_number=4, price_each=136.0, product_code='S10_4757', quantity_ordered=30), Row(order_line_number=2, price_each=84.3, product_code='S18_3029', quantity_ordered=34), Row(order_line_number=13, price_each=117.47, product_code='S18_3140', quantity_ordered=40), Row(order_line_number=15, price_each=87.73, product_code='S18_3259', quantity_ordered=47), Row(order_line_number=1, price_each=105.87, product_code='S18_3856', quantity_ordered=50), Row(order_line_number=12, price_each=72.85, product_code='S18_4522', quantity_ordered=33), Row(order_line_number=11, price_each=103.23, product_code='S24_2011', quantity_ordered=22), Row(order_line_number=6, price_each=84.08, product_code='S24_3151', quantity_ordered=27), Row(order_line_number=3, price_each=83.86, product_code='S24_3816', quantity_ordered=48), Row(order_line_number=7, price_each=66.0, product_code='S700_1138', quantity_ordered=21), Row(order_line_number=14, price_each=77.95, product_code='S700_1938', quantity_ordered=21), Row(order_line_number=5, price_each=57.82, product_code='S700_2610', quantity_ordered=42), Row(order_line_number=8, price_each=91.15, product_code='S700_3505', quantity_ordered=40), Row(order_line_number=9, price_each=89.38, product_code='S700_3962', quantity_ordered=26), Row(order_line_number=10, price_each=51.32, product_code='S72_3212', quantity_ordered=37)], order_date='2004-07-21', order_number=10273, required_date='2004-07-28', sales_rep_employee_number=1401, shipped_date='2004-07-22', status='Shipped'),
 Row(comments=None, customer=Row(city='Charleroi', contact_first_name='Pascale ', contact_last_name='Cartrain', country='Belgium', credit_limit=23500.0, customer_name='Royale Belge', customer_number=381, state=None), line_items=[Row(order_line_number=1, price_each=137.19, product_code='S18_1662', quantity_ordered=41), Row(order_line_number=3, price_each=80.86, product_code='S18_3029', quantity_ordered=28), Row(order_line_number=2, price_each=93.17, product_code='S18_3856', quantity_ordered=45)], order_date='2004-11-22', order_number=10338, required_date='2004-12-02', sales_rep_employee_number=1401, shipped_date='2004-11-27', status='Shipped'),
 Row(comments=None, customer=Row(city='Charleroi', contact_first_name='Pascale ', contact_last_name='Cartrain', country='Belgium', credit_limit=23500.0, customer_name='Royale Belge', customer_number=381, state=None), line_items=[Row(order_line_number=3, price_each=116.65, product_code='S18_1984', quantity_ordered=34), Row(order_line_number=2, price_each=105.6, product_code='S18_2870', quantity_ordered=49), Row(order_line_number=1, price_each=154.1, product_code='S18_3232', quantity_ordered=34)], order_date='2005-01-10', order_number=10366, required_date='2005-01-19', sales_rep_employee_number=1401, shipped_date='2005-01-12', status='Shipped'),
 Row(comments=None, customer=Row(city='Bruxelles', contact_first_name='Catherine ', contact_last_name='Dewey', country='Belgium', credit_limit=79900.0, customer_name='Petit Auto', customer_number=314, state=None), line_items=[Row(order_line_number=1, price_each=89.15, product_code='S18_2949', quantity_ordered=10), Row(order_line_number=3, price_each=56.21, product_code='S18_2957', quantity_ordered=31), Row(order_line_number=2, price_each=98.44, product_code='S18_3136', quantity_ordered=21), Row(order_line_number=5, price_each=80.36, product_code='S18_3320', quantity_ordered=21), Row(order_line_number=4, price_each=78.89, product_code='S24_4258', quantity_ordered=28)], order_date='2005-05-30', order_number=10423, required_date='2005-06-05', sales_rep_employee_number=1401, shipped_date=None, status='In Process')]

In [184]:
# Challenge

# Let's try and repeat the previous operation, of finding the total sales, 
# but now with the spark RDD. 
# You will need to read the Spark Documentation and find the following functions: map, reduce
# which are available as methods directly on the RDD!
# play around: 

#orders.take(1)[0]
orders.select("line_items").rdd.flatMap(lambda x: x).collect()

# your code

orders.rdd.flatMap(lambda x: x['line_items']) \
    .map(lambda x: x['quantity_ordered'] * x['price_each']) \
    .reduce(lambda a,b: a + b)

9604190.609999985

In [218]:
# Spark thinks about where the Data lives. 
# RDD's have a concept of "key, value"
# This is implemented simply as a Tuple: (k,v)

# If we create an RDD that takes that form, a tuple of (k,v)
# we can use operations like "reduceByKey"!


# Challenge

# Get the total sales by country, by first mapping your RDD into a tuple (k,v) where
# the Key is the country, then reducing by summing the total sales. 


orders.rdd \
    .map(lambda x: (x['customer']['country'], \
                    [i['quantity_ordered']*i['price_each'] for i in x['line_items']])) \
    .map(lambda x: (x[0], sum(x[1]))) \
    .reduceByKey(lambda a,b: a + b).collect()

orders.rdd.take(1)

#ok, I like list comprehension now, this was good

[Row(comments=None, customer=Row(city='Nashua', contact_first_name='Dorothy', contact_last_name='Young', country='USA', credit_limit=114200.0, customer_name='Online Diecast Creations Co.', customer_number=363, state='NH'), line_items=[Row(order_line_number=3, price_each=136.0, product_code='S18_1749', quantity_ordered=30), Row(order_line_number=2, price_each=55.09, product_code='S18_2248', quantity_ordered=50), Row(order_line_number=4, price_each=75.46, product_code='S18_4409', quantity_ordered=22), Row(order_line_number=1, price_each=35.29, product_code='S24_3969', quantity_ordered=49)], order_date='2003-01-06', order_number=10100, required_date='2003-01-13', sales_rep_employee_number=1216, shipped_date='2003-01-10', status='Shipped')]

## Parquet

Parquet is another data format that plays well with Spark. 
 
It's a "flat file" format, like JSON or CSV, but it contains extra information about types, allows for "predicate pushdown", is column-oriented, and has first-class support for nested columns!

Predicate pushdown means that Spark doesn't have to read all the data from the disk! It can avoid certain sections of disk altogether because Parquet knows that we don't want that data.

In [213]:
orders = spark.read.parquet('data/orders')

In [216]:
# Here, Spark won't read any information about countries other than Belgium!
# NOTE: the nested type!

orders.createOrReplaceTempView('orders')

res = spark.sql("""
SELECT count(order_number)
FROM orders 
WHERE customer.country = 'Belgium'
""".strip())

res.show()

+-------------------+
|count(order_number)|
+-------------------+
|                  7|
+-------------------+

## Nested types in SQL!

How do we deal with these pesky nested types now? 

Spark SQL gives us the Map/Reduce formulas to deal with nested "Array" types!

map = TRANSFORM
reduce = AGGREGATE

You can look at the documentation to see exactly how they work.

In [294]:
# Bonus Challenge: 

# Try to reproduce what we did before, getting the total sales, in Spark SQL, using TRANSFORM and
# AGGREGATE on the individuals "line_items" and then summing over the rows to get the total sales

orders.createOrReplaceTempView('orders')

"""
orders.rdd.flatMap(lambda x: x['line_items']) \
    .map(lambda x: x['quantity_ordered'] * x['price_each']) \
    .reduce(lambda a,b: a + b)
"""

res = spark.sql("""

SELECT TRANSFORM(line_items.quantity_ordered, x -> x) as qty, TRANSFORM(line_items.price_each, x -> x) as price
FROM orders
WHERE order_number in (10100, 10101)
""".strip())

res.show()

#as far as I got...

+----------------+--------------------+
|             qty|               price|
+----------------+--------------------+
|[30, 50, 22, 49]|[136.0, 55.09, 75...|
|[25, 26, 45, 46]|[108.06, 167.06, ...|
+----------------+--------------------+